header {
  background-color: #1F2833;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #66FCF1;
}
div.a {
  font-size: 150px;
  text-align: center;
  color: #66FCF1;
  background-color: #1F2833;
}
body {
 background-color: #grey;
 color: #C5C6C7
}
#mySidenav a {
  position: fixed;
  left: -80px; 
  transition: 0.3s; 
  padding: 15px;
  width: 120x;
  text-decoration: none; 
  font-size: 20px;
  color: #45A29E;
  border-radius: 0 5px 5px 0;
}
#mySidenav a:hover {
  left: 0; 
}
#home {
  top: 20px;
  background-color: #01579B;
}
#teamprofile {
  top: 80px;
  background-color: #0277BD; 
}
#idealjobs {
  top: 160px;
  background-color: #039BE5; 
}
#tools {
  top: 240px;
  background-color: #00B0FF 
}
#industrydata {
  top: 320px;
  background-color: #40C4FF 
}
#itwork {
  top: 400px;
  background-color: #29B6F6 
}
#ittechnologies {
  top: 480px;
  background-color: #4FC3F7
}
#projectideas {
  top: 560px;
  background-color: #81D4FA 
}
#bibliography {
  top: 640px;
  background-color: #B3E5FC 
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  Background-color: #1F2833
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #1F2833;
  color: #45A29E;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
