header {
  background-color: #1F2833;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #66FCF1;
}
body {
 background-color: #0B0C10;
}
#mySidenav a {
  position: fixed;
  left: -120px; 
  transition: 0.3s; 
  padding: 15px;
  width: 150px;
  text-decoration: none; 
  font-size: 20px;
  color: 45A29E;
  border-radius: 0 5px 5px 0;
}
#mySidenav a:hover {
  left: 0; 
}
#home {
  top: 20px;
  background-color: #1F2833;
}
#teamprofile {
  top: 100px;
  background-color: #1F2833; 
}
#idealjobs {
  top: 180px;
  background-color: #1F2833; 
}
#tools {
  top: 260px;
  background-color: #1F2833 
}
#industrydata {
  top: 340px;
  background-color: #1F2833 
}
#itwork {
  top: 420px;
  background-color: #1F2833 
}
#ittechnologies {
  top: 500px;
  background-color: #1F2833 
}
#projectideas {
  top: 580px;
  background-color: #1F2833 
}
#bibliography {
  top: 560px;
  background-color: #1F2833 
}
