h1 {
  color: #008080 !important;
}
.grid-container {
  display: grid !important;
  grid-template-columns: auto auto auto auto auto auto auto !important;
  grid-gap: 10px !important;
  background-color: #1A2227 !important;
  padding: 10px !important;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8) !important;
  text-align: center !important;
  padding: 20px 0 !important;
  font-size: 30px !important;
  background-color: #66B2B2 !important;
  color: #1A2227 !important;
}

.item1 {
  grid-column: 1 / 7 !important;
}
.item2 {
  grid-column: 1 / 5 !important;
}
.item5 {
  grid-column: 1 / 7 !important;
}
.item6 {
  grid-column: 1 / 5 !important;
}
.item9 {
  grid-column: 1 / 5 !important;
}
.item12 {
  grid-column: 1 / 7 !important;
}
.item13 {
  grid-column: 1 / 5 !important;
}
