body {
	margin: 10px 205px;
}

#heading{
	colour:#66FCF1;
}
h1 {
  color: #008080 !important;
}

.header {
	text-align: center
}
.grid-container {
  display: grid !important;
  grid-template-columns: auto auto auto!important;
  grid-gap: 5px !important;
  background-color: #1A2227 !important;
  padding: 5px !important;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8) !important;
  font-size: 14px !important;
  background-color: #66B2B2 !important;
  color: #1A2227 !important;
  padding: 5px 15px 5px 15px;
}

.item1 {
		grid-column: 1/4;
		text-align: center;
}

.generalskills {
	grid-column: 1/4;
	text-align: center;
}

.item2 {
	text-align: center
}

.item3 {
	text-align: center
}

.item4 {
	text-align: center
}

.item5 {
		grid-column: 1/4;
		text-align: center
}

.item12 {
	grid-column: 1/4;
	text-align: center;
}

.item13 {
	text-align: center
}

.item14 {
	text-align: center
}

.item15 {
	text-align: center
}

.item16 {
	grid-column: 1/4;
	text-align: center;
}

.item20 {
	grid-column: 1/4;
	text-align: center;
}

.item21 {
	text-align: center
}

.item22 {
	text-align: center
}

.item23 {
	text-align: center
}

.comments {
	color: #66B2B2
}
